# Frontend Configuration
BACKEND_HOST=backend
BACKEND_PORT=8000
FRONTEND_PORT=4200
# Db Configuration
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_HOST=<db_host>
DB_PORT=<db_port>

# MinIo Configuration
MINIO_ROOT_USER=<minio_root_user>
MINIO_ROOT_PASSWORD=<minio_root_password>
MINIO_PORT=<minio_port>
MINIO_CONSOLE_PORT=9001

# App Configuration
APP_PORT=8080
JWT_SECRET=<jwt_secret>