target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/**/*
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/


### project files ###
*.log
*.tmp
*.temp
*.swp
.DS_Store
node_modules/

# Environment files
.env
*.env

# Secrets
**/secrets/
**/config/application-*.properties